@model NemeTschek.Data.Event

@{
    ViewData["Title"] = "Details";
    var participants = ViewData["enrolledUsers"] as List<string>;
    bool past = ViewBag.past;

    string currentRole = "";
    if(ViewBag.currentRole == "c589321f-e40a-472d-aa5b-bb8e87e8c463")
    {
        currentRole = "ADMIN";
    }
    else if(ViewBag.currentRole == "2c633b18-bc64-4eb7-9735-07c68e1162dd")
    {
        currentRole = "EMPLOYEE";
    }
    else
    {
        currentRole = "NOT FOUND";
    }

}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Start Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            End Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            Min.People
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinPeople)
        </dd>
        <dt class = "col-sm-2">
            Max.People
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPeople)
        </dd>
    </dl>
</div>
<div>
    @if (!past && currentRole == "EMPLOYEE")
    {
        @if (ViewBag.isUserRegistered)
        {
            <a asp-action="UnEnroll" asp-route-id="@Model.EventId">Unenroll</a><span> |</span>
        }
        else
        {
            <a asp-action="Enroll" asp-route-id="@Model?.EventId">Enroll</a><span> |</span>
        }
    }
    @if (currentRole == "ADMIN")
    {
        <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a>
        <span> |</span>
    }
    @if(past && currentRole == "ADMIN") {
        <a asp-action="PastEvents">Back to List</a>
    }
    else
    {   
        <a asp-action="Index">Back to List</a>
    }
</div>

@if (participants != null)
{
    <p> List of participants</p>
    @foreach (string member in participants)
    {
        <ul>
            <li>@member</li>
        </ul>
    }
}
